<a href="https://colab.research.google.com/github/Rajesh2000/Fun-Projects/blob/master/Report_card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imoprting .xlsx file with pandas

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
from google.colab import files
uploaded = files.upload()

Saving Rawdata.xlsx to Rawdata.xlsx

In [7]:
import io
df = pd.read_excel(io.BytesIO(uploaded['Rawdata.xlsx']))

In [8]:
print(df.iloc[4,12])

56

In [9]:
print(df.columns)

Index(['Student No ', 'Name of Candidate', 'Registration', 'Grade ', 'Gender',
       'Name of school ', 'Date of Birth ', 'City of Residence',
       'Date and time of test', 'Country of Residence',
       'Extra time assistance', 'Question No.', 'Time Spent on question (sec)',
       'Score if correct', 'Score if incorrect', 'Attempt status ',
       'What you marked', 'Correct Answer',
       'Outcome (Correct/Incorrect/Not Attempted)', 'Your score'],
      dtype='object')

In [28]:
def Total_marks(n):  ## n is Student No
   total=0 ## total of each student
   for index, row in df.iterrows():
     if (row['Student No ']==n):
        ## print(index,row['Your score'])
        total=total+row['Your score']
   return total

In [29]:
Total_marks(10)

5

In [36]:
def get_name(n):
  if (row['Student No ']==n):
    print(df['Name of Candidate'])

In [37]:
get_name(2)

NameError: ignored

In [ ]:
df.loc[df['Name of Candidate']=='abc']

In [51]:
b=df.loc[df['Student No ']== 1]

In [48]:
subset_columns = df[['Question No.',
                     'Time Spent on question (sec)',
                     'Score if correct',
                     'Score if incorrect',
                     'Attempt status ',
                     'What you marked', 'Correct Answer',
                     'Outcome (Correct/Incorrect/Not Attempted)',
                     'Your score'
                     ]]

In [49]:
a=subset_columns.head()

# Trying platypus

In [38]:
from reportlab.platypus import SimpleDocTemplate,Table,TableStyle,PageBreak
from reportlab.lib import colors
from reportlab.lib.units import cm

# Title of card "Wisdom Tests and Math Challenge"

In [18]:
!pip install reportlab

Collecting reportlab
  Downloading https://files.pythonhosted.org/packages/a8/ae/94d928963e56f7fb6ade5b15f017f3a4e89886509a0fe43cafcedb838e94/reportlab-3.5.47-cp36-cp36m-manylinux2010_x86_64.whl (2.6MB)
     |████████████████████████████████| 2.6MB 4.6MB/s
Requirement already satisfied: pillow>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from reportlab) (7.0.0)
Installing collected packages: reportlab
Successfully installed reportlab-3.5.47

In [19]:
from reportlab.pdfgen import canvas
file_name='report_card.pdf'

In [20]:
document_Title='Report_card'
title='Wisdom Tests and Math Challenge'
Subtitle='Marks-sheet'

In [53]:
pdf=canvas.Canvas(file_name)

pdf.setTitle(document_Title)

In [22]:
logo='/content/drive/My Drive/Internship/logo.png'
student1='/content/drive/My Drive/Internship/Pics/1.jpg'
pdf.drawInlineImage(logo,190,640)
pdf.drawString(190,760,title)

pdf.drawInlineImage(student1,390,640)
pdf.line(30,610,550,610)

# Intro

In [23]:


pdf.drawString(20,550,'Name of Candidate:')
pdf.drawString(20,530,'Grade:')
pdf.drawString(20,510,'School name:')
pdf.drawString(20,490,'City of residence:')
pdf.drawString(20,470,'Country of residence:')





pdf.drawString(350,550,'Registration:')
pdf.drawString(350,530,'Gender:')
pdf.drawString(350,510,'Date of Birth:')
pdf.drawString(350,490,'Date of test:')
pdf.drawString(350,470,'Extra time assistance:')

ValueError: ignored

In [25]:
pdf.save()